header {
  padding: 20px;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 30 rgb(0 22 84/10%);
  z-index: 10;
  background-color: #fff;
}

nav ul {
  margin-right: 50px;
}

nav a {
  margin-left: 30px;
  font-weight: 600;
  transition: 0.5s;
}
nav a:hover {
  color: #27ae60;
}

.logo img {
  width: 180px;
}

header span {
  width: auto;
  border-radius: 50%;
  background-color: #27ae60;
  color: #fff;
  padding: 0 7px;
  margin-right: 3px;
  font-size: 15px;
}
.list {
  cursor: pointer;
}

header button {
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #27ae60;
  border: none;
  margin-left: 30px;
}

.phone-menu {
  display: none;
}

@media (max-width: 500px) {
  header nav .flex {
    display: none;
  }

  .container {
    gap: 20px;
  }

  .phone-menu {
    display: block;
  }

  .list {
    display: none;
  }
  .logo img {
    width: 140px;
  }

  .mobile-nav {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
  }
  .mobile-nav a {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
  }

  .mobile-nav a:hover {
    color: black;
  }
}
