.explore {
  padding: 50px;
  background-color: #fff;
}

.explore-grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.explore-img img {
  width: 90%;
  transition: 0.5s;
  cursor: pointer;
}

.explore-img p {
  color: grey;
  font-weight: bold;
  z-index: 10;
}

.explore-img img:hover {
  width: 95%;
}

@media (max-width: 500px) {
  .explore-grid {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
